{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('pharmacy') }}">Accueil</a></li>
    <li class="breadcrumb-item active">categorie</li>
    <li class="breadcrumb-item active">creér categorie</li>

</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header card-header-primary">
                    <h4 class="card-title ">creér nouveau categorie</h4>
                    <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">

                    {{ include('category/_form.html.twig') }}

                    <a href="{{ path('category_index') }}">back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
